In [1]:
# Import Libraries
import tweepy as tw
import pandas as pd
import numpy as np
import datetime
import pytz
from dateutil.relativedelta import relativedelta
import time

# Authentication

In [2]:
keys = pd.read_csv(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\Input\TW API Keys\API_3\apikeys_3.csv")

my_api_key = keys["Keys"][0]
my_api_secret = keys["Keys"][1]

my_access_token = keys["Keys"][2]
my_access_token_secret = keys["Keys"][3]

In [3]:
# your Twitter API key ans access token
api_key = my_api_key
api_secret = my_api_secret

access_token = my_access_token
access_token_secret = my_access_token_secret

In [4]:
# authenticate
auth = tw.OAuthHandler(my_api_key, my_api_secret)
auth.set_access_token(access_token, access_token_secret)

In [5]:
api = tw.API(auth, wait_on_rate_limit = True)

## Variables

sc_name = "el33th4xor"

In [6]:
user_df = pd.read_csv(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\Input\Top 20 Cryptocurrencies and Related TW Accounts_reduced.csv", encoding= 'unicode_escape')
user_df

,Coin,ID,Owner/Influence,Name,Screen_name,Status,Why did I choose this person?
0,Ethereum,ethereum,Vitalik Buterin,vitalik.eth,VitalikButerin,co-founder,he is also known in crypto world
1,BNB,binancecoin,Changpeng Zhao,CZ ??Binance,cz_binance,CEO,NaN
2,XRP,ripple,Brad Garlinghouse,Brad Garlinghouse,bgarlinghouse,CEO,NaN
3,ADA(Cardano),cardano,Charles Hoskinson,Charles Hoskinson,IOHK_Charles,CEO/co-founder,NaN
4,DOGE,dogecoin,Elon Musk_doge,Elon Musk,elonmusk,influencer,"as a popular figure, highly interested in this..."
5,MATIC(Polygon),matic-network,Sandeep Nailwal,Sandeep | Polygon ????3??,sandeepnailwal,co-founder,he seems more active than other co-founders
6,DOT(Polkadot),polkadot,WEB3 Foundation,Web3 Foundation,Web3foundation,foundation,there is no account of CEO or sth
7,HEX,hex,Richard Heart,Richard Heart,RichardHeartWin,CEO,NaN
8,SOL,solana,Solana,Solana,solana,company,there is no account of CEO or sth
9,TRX,tron,Justin Sun,H.E. Justin Sun,justinsuntron,founder,same with WTRX!
10,UNI,uniswap,Uniswap,Uniswap Labs ??,Uniswap,company,there is no account of CEO or sth
11,LTC,litecoin,Charlie Lee,Charlie Lee ?????,SatoshiLite,founder,NaN
12,AVAX,avalanche-2,Emin Gün Sirer,Emin Gün Sirer??,el33th4xor,CEO,NaN
13,LINK,chainlink,Sergey Nazarov,Sergey Nazarov,SergeyNazarov,founder,NaN
14,ATOM,cosmos,Ethan Buchman,Ethan Buchman,buchmanster,co-founder,NaN

# Date and Limit

In [7]:
#datetime format -> (year, month, day, hour, minute, second)
endDate = datetime.datetime.now()
startDate = endDate - relativedelta(years = 2)
#endDate = datetime.datetime.now()
#startDate = endDate - relativedelta(days = 1) #days, months, years can be used to calculate

utc=pytz.UTC

startDate = utc.localize(startDate) 
endDate = utc.localize(endDate)

In [8]:
limit = 200

# Getting Liked Tweets

In [9]:
def get_liked_tweets(sc_name):
    
    liked_tweets = []
    get_liked_tweets = api.get_favorites(screen_name = sc_name)
    for tweet in get_liked_tweets:
        if tweet.created_at < endDate and tweet.created_at > startDate:
            liked_tweets.append(tweet)


    while (get_liked_tweets[-1].created_at > startDate):
        get_liked_tweets = api.get_favorites(screen_name = sc_name, max_id = get_liked_tweets[-1].id)
        for tweet in get_liked_tweets:
            if tweet.created_at < endDate and tweet.created_at > startDate:
                liked_tweets.append(tweet)
    return liked_tweets

In [10]:
def get_liked_tweets_2(sc_name):
    #variables
    start = time.time()
    tweets = []
    num_of_tweets = 0
    
    #initial request
    while True:
        try:
            tmpTweets = api.get_favorites(screen_name = sc_name)
            while(len(tmpTweets) == 0):
                print("empty list error_1, please try again")
                tmpTweets = api.get_favorites(screen_name = sc_name)
            for tweet in tmpTweets:
                if tweet.created_at < endDate and tweet.created_at > startDate:
                    tweets.append(tweet)
                    num_of_tweets += 1
            break
        except tw.errors.TweepyException as e:
            print("Going to sleep")
            print(e)
            time.sleep(60*15)
            continue
    
    #collection
    while True:
        try:
            while (tmpTweets[-1].created_at > startDate) and (len(tmpTweets) != 1):
                old_ID = tmpTweets[-1].id
                tmpTweets = api.get_favorites(screen_name = sc_name, max_id = old_ID)
                while(len(tmpTweets) == 0):
                    print("empty list error_2, please try again")
                    print(old_ID)
                    time.sleep(15)
                    tmpTweets = api.get_favorites(screen_name = sc_name, max_id = old_ID)
                    #print("1: ", {tmpTweets[0].created_at})
                for tweet in tmpTweets:
                    if tweet.created_at < endDate and tweet.created_at > startDate:
                        tweets.append(tweet)
                        num_of_tweets += 1
                if(len(tmpTweets) == 1):
                    print("it's the end of the limit which is: ", len(tweets))
            break
        except tw.errors.TweepyException as e:
            print(e)
            print("Going to sleep")
            time.sleep(60*15)
            continue
    
    #return        
    end = time.time()
    print(sc_name)
    print(end-start)
    return tweets

In [11]:
columns = ["Tweet_id", "Name", "Screen_name", "Tweet", "Date", "Category", "N_of_RT", "N_of_fav"]
columns_2 = ["Tweet_id", "Name", "Screen_name", "Tweet", "Date", "Category", "N_of_RT", "N_of_fav", "Related_account"]

In [12]:
def categorize_liked_tweets(liked_tweets):

    data = []
    term_rt = "RT"
    for tweet in liked_tweets:

        #for consecutive tweets, next one is shown primaryly in data frame, I can check with using hours and minutes if necessary
        date = tweet.created_at
        #date = date.strftime('%Y-%m-%d')

        #retweet and favorite counts
        number_of_retweet = tweet.retweet_count
        number_of_favorite = tweet.favorite_count


        #it's gonna be direct tweet if all the checks below fail
        category_specified = "direct"

        #retweet check
        if term_rt in tweet.text.split():

            category_specified = "retweet"

        #quote(rt with comment) check
        elif tweet.is_quote_status is True:
            category_specified = "quote"

        #reply check
        elif tweet.in_reply_to_status_id is not None:
            category_specified = "reply"

        data.append([tweet.id, tweet.user.name, tweet.user.screen_name, tweet.text, date, category_specified, number_of_retweet, number_of_favorite])
    
    df_met = pd.DataFrame(data, columns = columns)
    return df_met

In [13]:
def LikedTweetCollector(user_df):
    df = pd.DataFrame(columns = columns_2)
    index_counter_1 = 0;
    
    for x in user_df.Screen_name:
    
        taken_tweets = get_liked_tweets_2(x)
        df_met_2 = categorize_liked_tweets(taken_tweets)

        df_met_2["Related_account"] = user_df["Screen_name"][index_counter_1]
        index_counter_1 += 1
        
        df = df.append(df_met_2)
    
    return df

In [14]:
#manuel collection of liked tweets
"""df = pd.DataFrame(columns = columns)
for x in user_df.Screen_name:
    
    taken_liked_tweets = get_liked_tweets_2(x)
    df_met_2 = categorize_liked_tweets(taken_liked_tweets)
    df_met_2["Related_account"] = sc_name
    df = df.append(df_met_2)"""

'df = pd.DataFrame(columns = columns)\nfor x in user_df.Screen_name:\n    \n    taken_liked_tweets = get_liked_tweets_2(x)\n    df_met_2 = categorize_liked_tweets(taken_liked_tweets)\n    df_met_2["Related_account"] = sc_name\n    df = df.append(df_met_2)'

In [15]:
start = time.time()
df = LikedTweetCollector(user_df)
end = time.time()
print(end - start)

Rate limit reached. Sleeping for: 578
Rate limit reached. Sleeping for: 868

VitalikButerin
1501.712229013443

Rate limit reached. Sleeping for: 869
Rate limit reached. Sleeping for: 869

cz_binance
1798.3292999267578
bgarlinghouse
7.09185266494751

Rate limit reached. Sleeping for: 869
Rate limit reached. Sleeping for: 868

IOHK_Charles
1799.9736680984497

Rate limit reached. Sleeping for: 869
Rate limit reached. Sleeping for: 870

it's the end of the limit which is:  3351
elonmusk
1814.35893368721

Rate limit reached. Sleeping for: 869
Rate limit reached. Sleeping for: 871

it's the end of the limit which is:  3392
sandeepnailwal
1816.2327604293823
Web3foundation
0.42421531677246094

Rate limit reached. Sleeping for: 869
Rate limit reached. Sleeping for: 870
Rate limit reached. Sleeping for: 868

it's the end of the limit which is:  3184
RichardHeartWin
2685.890332221985

Rate limit reached. Sleeping for: 869
Rate limit reached. Sleeping for: 867

it's the end of the limit which is:  3346
solana
1813.194104194641

Rate limit reached. Sleeping for: 868
Rate limit reached. Sleeping for: 866

justinsuntron
1804.1726417541504
Uniswap
12.692451000213623

Rate limit reached. Sleeping for: 866
Rate limit reached. Sleeping for: 866

SatoshiLite
1792.3032910823822

Rate limit reached. Sleeping for: 866
Rate limit reached. Sleeping for: 867

it's the end of the limit which is:  3353
el33th4xor
1809.7572214603424
SergeyNazarov
0.39121055603027344

Rate limit reached. Sleeping for: 868
Rate limit reached. Sleeping for: 868
Rate limit reached. Sleeping for: 868

empty list error_2, please try again
1590778160232398848
it's the end of the limit which is:  3235
buchmanster
2697.4084525108337
21354.500738620758

In [16]:
df.drop_duplicates(inplace = True)
df.reset_index(inplace = True, drop = True)

In [17]:
df.shape

(31782, 9)

In [18]:
#null check --> if it is "False", we all ok
df.isna().any().any()

False

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31782 entries, 0 to 31781
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Tweet_id         31782 non-null  object
 1   Name             31782 non-null  object
 2   Screen_name      31782 non-null  object
 3   Tweet            31782 non-null  object
 4   Date             31782 non-null  object
 5   Category         31782 non-null  object
 6   N_of_RT          31782 non-null  object
 7   N_of_fav         31782 non-null  object
 8   Related_account  31782 non-null  object
dtypes: object(9)
memory usage: 2.2+ MB

In [20]:
#duplication check
df[df.duplicated(keep=False)].shape[0]

0

In [21]:
df['Date'] = df['Date'].dt.tz_localize(None)

In [22]:
pd.set_option("max_rows", None)
df.to_excel(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\RA_Cryptocurrency\Data\Liked Tweet Data\liked_tweets_1year.xlsx")
df.head()

,Tweet_id,Name,Screen_name,Tweet,Date,Category,N_of_RT,N_of_fav,Related_account
0,1623742454372487168,Anka Relief,AnkaRelief,1/15 Welcome to Anka Relief!\n\n@AnkaRelief (🇹...,2023-02-09 17:55:43,direct,201,378,VitalikButerin
1,1622991509632040962,ETHGlobal,ETHGlobal,Türkiye 🇹🇷 &amp; Syria 🇸🇾 are in a of state em...,2023-02-07 16:11:44,quote,799,1615,VitalikButerin
2,1622909158864617473,EDCON,EDCON2023,"🎉Exciting news, EDCON 2023 is coming! Let's me...",2023-02-07 10:44:30,direct,13,41,VitalikButerin
3,1622197933025251328,StarkWare,StarkWareLtd,Open-Sourcing the Starknet Prover.\n\nEntire #...,2023-02-05 11:38:20,direct,309,1116,VitalikButerin
4,1618285309124575236,Reflexer,reflexerfinance,Check out @VitalikButerin's post in the Reflex...,2023-01-25 16:30:58,direct,182,668,VitalikButerin

In [ ]:
#change it to_2year(in the doc) --> upper block