In [52]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import datetime

# Providing Data

In [25]:
tweet_df = pd.read_csv(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\RA_Cryptocurrency\Data\Input Data\tweets_all.csv", encoding="ISO-8859-1")
tweet_df.drop("Unnamed: 0", inplace=True, axis=1)
tweet_df

,Tweet_id,Name,Screen_name,Related_coin,Tweet,Date,Category,N_of_RT,N_of_fav,Day,Month,Year
0,1.609330e+18,vitalik.eth,VitalikButerin,ethereum,@ChenWainuo @zengjiajun_eth @BlockGeekDima ???...,2022-12-31 23:41:41,reply,3,11,31,12,2022
1,1.609310e+18,vitalik.eth,VitalikButerin,ethereum,RT @VitalikButerin: @IAPonomarenko Happy new y...,2022-12-31 22:15:52,retweet,648,0,31,12,2022
2,1.609310e+18,vitalik.eth,VitalikButerin,ethereum,"@IAPonomarenko Happy new year, and lots of lov...",2022-12-31 22:06:42,reply,648,5682,31,12,2022
3,1.609220e+18,vitalik.eth,VitalikButerin,ethereum,@lexfridman @GretaThunberg @Cobratate I would ...,2022-12-31 15:49:58,reply,169,4965,31,12,2022
4,1.609210e+18,vitalik.eth,VitalikButerin,ethereum,"@balajis Reaching the ""basic rollup scaling"" m...",2022-12-31 15:27:04,reply,453,2807,31,12,2022
...,...,...,...,...,...,...,...,...,...,...,...,...
29382,1.472790e+18,"Ethan Buchman (??,??)",buchmanster,cosmos,@MpeterF @Econgrad5143 @DEhnts @HenricCont @vi...,2021-12-20 04:51:07,reply,0,0,20,12,2021
29383,1.472710e+18,"Ethan Buchman (??,??)",buchmanster,cosmos,@MpeterF @Econgrad5143 @DEhnts @HenricCont @vi...,2021-12-19 23:43:44,reply,0,0,19,12,2021
29384,1.472710e+18,"Ethan Buchman (??,??)",buchmanster,cosmos,@TheStalwart @leee_harris I guess generally it...,2021-12-19 23:41:59,quote,0,0,19,12,2021
29385,1.472710e+18,"Ethan Buchman (??,??)",buchmanster,cosmos,@MpeterF @Econgrad5143 @DEhnts @HenricCont @vi...,2021-12-19 23:32:08,reply,0,1,19,12,2021
29386,1.472710e+18,"Ethan Buchman (??,??)",buchmanster,cosmos,@MpeterF @Econgrad5143 @DEhnts @HenricCont @vi...,2021-12-19 23:25:13,reply,0,1,19,12,2021

In [108]:
def day_finder(tweet_df):
    max_index = tweet_df["Name"].size-1
    most_active_user = ""
    max_day = ""
    for x in tweet_df.index:
        if(x != max_index):
            if(tweet_df["Screen_name"][x] != tweet_df["Screen_name"][x+1]):
                if(tweet_df["Date"][x] > max_day):
                    max_day = tweet_df["Date"][x]
                    most_active_user = tweet_df["Screen_name"][x]
        elif(x == max_index):
            if(tweet_df["Date"][x] > max_day):
                max_day = tweet_df["Date"][x]
                most_active_user = tweet_df["Screen_name"][x]
    print(max_day)
    print(most_active_user)

In [109]:
day_finder(tweet_df)

2022-10-09 13:30:21
elonmusk

In [114]:
max_day = "2022-10-10"

In [120]:
df_y = tweet_df[tweet_df["Date"] > max_day]
df_y.reset_index(inplace = True, drop = True)
df_y.head()

,Tweet_id,Name,Screen_name,Related_coin,Tweet,Date,Category,N_of_RT,N_of_fav,Day,Month,Year
0,1.609330e+18,vitalik.eth,VitalikButerin,ethereum,@ChenWainuo @zengjiajun_eth @BlockGeekDima ???...,2022-12-31 23:41:41,reply,3,11,31,12,2022
1,1.609310e+18,vitalik.eth,VitalikButerin,ethereum,RT @VitalikButerin: @IAPonomarenko Happy new y...,2022-12-31 22:15:52,retweet,648,0,31,12,2022
2,1.609310e+18,vitalik.eth,VitalikButerin,ethereum,"@IAPonomarenko Happy new year, and lots of lov...",2022-12-31 22:06:42,reply,648,5682,31,12,2022
3,1.609220e+18,vitalik.eth,VitalikButerin,ethereum,@lexfridman @GretaThunberg @Cobratate I would ...,2022-12-31 15:49:58,reply,169,4965,31,12,2022
4,1.609210e+18,vitalik.eth,VitalikButerin,ethereum,"@balajis Reaching the ""basic rollup scaling"" m...",2022-12-31 15:27:04,reply,453,2807,31,12,2022

In [119]:
price_df = pd.read_csv(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\RA_Cryptocurrency\Data\Input Data\price_data_v2.csv")
price_df.drop("Unnamed: 0", inplace=True, axis=1)
df_x = price_df[price_df["date_time"] > max_day]
df_x.reset_index(inplace = True, drop = True)
df_x.head()

,day,ID,timestamps,date_time,price,market_caps,volumes,price_dif,%change,st_dev,>st_dev
0,318,ethereum,1665360000000,2022-10-10 00:00:00,1322.269755,1.595863e+11,4.753165e+09,6.411955,0.004873,0.047117,0
1,319,ethereum,1665446400000,2022-10-11 00:00:00,1291.081660,1.561804e+11,7.492362e+09,-31.188096,-0.023587,0.047093,0
2,320,ethereum,1665532800000,2022-10-12 00:00:00,1279.883308,1.546575e+11,8.314705e+09,-11.198352,-0.008674,0.047071,0
3,321,ethereum,1665619200000,2022-10-13 00:00:00,1294.271051,1.564886e+11,7.512521e+09,14.387744,0.011241,0.047072,0
4,322,ethereum,1665705600000,2022-10-14 00:00:00,1288.164015,1.557033e+11,1.537497e+10,-6.107037,-0.004719,0.047072,0