In [2]:
# Import Libraries
import tweepy as tw
import configparser
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import re
import nltk
import datetime
import pytz
from dateutil.relativedelta import relativedelta

# Authentication

In [3]:
keys = pd.read_csv(r"C:\Users\Kutay\Desktop\Data Science\RA\RA Work\Cryptocurrency\API Keys\apikeys.csv")

my_api_key = keys["Keys"][0]
my_api_secret = keys["Keys"][1]

my_access_token = keys["Keys"][2]
my_access_token_secret = keys["Keys"][3]

In [4]:
# your Twitter API key ans access token
api_key = my_api_key
api_secret = my_api_secret

access_token = my_access_token
access_token_secret = my_access_token_secret

In [5]:
# authenticate
auth = tw.OAuthHandler(my_api_key, my_api_secret)
auth.set_access_token(access_token, access_token_secret)

In [6]:
api = tw.API(auth, wait_on_rate_limit=True)

## Variables

sc_name = "el33th4xor"

In [10]:
user_df = pd.read_csv("Top 20 Cryptocurrencies and Related TW Accounts.csv", encoding= 'unicode_escape')

In [22]:
endDate = datetime.datetime.now()
startDate = endDate - relativedelta(days = 1) #days, months, years can be used to calculate

utc=pytz.UTC

startDate = utc.localize(startDate) 
endDate = utc.localize(endDate)

In [12]:
limit = 200

# Getting Liked Tweets

In [24]:
def get_liked_tweets(sc_name):
    
    liked_tweets = []
    get_liked_tweets = api.get_favorites(screen_name = sc_name)
    for tweet in get_liked_tweets:
        if tweet.created_at < endDate and tweet.created_at > startDate:
            liked_tweets.append(tweet)


    while (get_liked_tweets[-1].created_at > startDate):
        get_liked_tweets = api.get_favorites(screen_name = sc_name, max_id = get_liked_tweets[-1].id)
        for tweet in get_liked_tweets:
            if tweet.created_at < endDate and tweet.created_at > startDate:
                liked_tweets.append(tweet)
    return liked_tweets

In [25]:
columns = ["Tweet_id", "Name", "Screen_name", "Tweet", "Date", "Category", "N_of_RT", "N_of_fav"]

In [28]:
def categorize_liked_tweets(liked_tweets):

    data = []
    term_rt = "RT"
    for tweet in liked_tweets:

        #for consecutive tweets, next one is shown primaryly in data frame, I can check with using hours and minutes if necessary
        date = tweet.created_at
        date = date.strftime('%Y-%m-%d')

        #retweet and favorite counts
        number_of_retweet = tweet.retweet_count
        number_of_favorite = tweet.favorite_count


        #it's gonna be direct tweet if all the checks below fail
        category_specified = "direct"

        #retweet check
        if term_rt in tweet.text.split():

            category_specified = "retweet"

        #quote(rt with comment) check
        elif tweet.is_quote_status is True:
            category_specified = "quote"

        #reply check
        elif tweet.in_reply_to_status_id is not None:
            category_specified = "reply"

        data.append([tweet.id, tweet.user.name, tweet.user.screen_name, tweet.text, date, category_specified, number_of_retweet, number_of_favorite])
    
    df_met = pd.DataFrame(data, columns = columns)
    return df_met

In [29]:
df = pd.DataFrame(columns = columns)
for x in user_df.Screen_name:
    
    taken_liked_tweets = get_liked_tweets(x)
    df_met_2 = categorize_liked_tweets(taken_liked_tweets)
    df = df.append(df_met_2)

In [32]:
df.drop_duplicates(inplace = True)
df.reset_index(inplace = True, drop = True)

In [33]:
df.shape

(137, 8)

In [34]:
#null check --> if it is "False", we all ok
df.isna().any().any()

False

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Tweet_id     137 non-null    object
 1   Name         137 non-null    object
 2   Screen_name  137 non-null    object
 3   Tweet        137 non-null    object
 4   Date         137 non-null    object
 5   Category     137 non-null    object
 6   N_of_RT      137 non-null    object
 7   N_of_fav     137 non-null    object
dtypes: object(8)
memory usage: 8.7+ KB

In [36]:
#duplication check
df[df.duplicated(keep=False)].shape[0]

0

In [37]:
pd.set_option("max_rows", None)
df.to_excel(r"liked_tweets.xlsx")
df.head()

,Tweet_id,Name,Screen_name,Tweet,Date,Category,N_of_RT,N_of_fav
0,1594835418117451776,Elon Musk,elonmusk,Starlink now works for high latitudes https://...,2022-11-21,quote,5471,68167
1,1594743348572848129,Stuart Alderoty,s_alderoty,"To be clear, the SEC hasnâ€™t labeled XRP a secu...",2022-11-21,quote,967,3183
2,1595007450343964672,Simon SÃ¤llstrÃ¶m,SimonSallstrom,I invited @IOHK_Charles to come and visit Oxfo...,2022-11-22,direct,85,459
3,1594978325780484098,Mr.Telecom,MrTelecoms,@CloverNodes @IOHK_Charles Vasil! Looking forw...,2022-11-22,reply,0,13
4,1594819168200794124,Esat Sibay,esatsibay,Great to meet @IOHK_Charles and Tamara Haasen ...,2022-11-21,direct,0,26