In [1]:
# Import Libraries
import tweepy as tw
import configparser
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import re
import nltk
import datetime
from datetime import datetime as datetime_price
import pytz
from dateutil.relativedelta import relativedelta
import time

# Authentication for API

In [2]:
keys = pd.read_csv(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\Input\TW API Keys\apikeys.csv")

my_api_key = keys["Keys"][0]
my_api_secret = keys["Keys"][1]

my_access_token = keys["Keys"][2]
my_access_token_secret = keys["Keys"][3]

In [3]:
# your Twitter API key ans access token
api_key = my_api_key
api_secret = my_api_secret

access_token = my_access_token
access_token_secret = my_access_token_secret

In [4]:
# authenticate
auth = tw.OAuthHandler(my_api_key, my_api_secret)
auth.set_access_token(access_token, access_token_secret)

In [5]:
api = tw.API(auth, wait_on_rate_limit=True)

# Insert the List of Users

In [6]:
user_df = pd.read_csv(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\Input\Top 20 Cryptocurrencies and Related TW Accounts.csv", encoding= 'unicode_escape')
user_df

,Coin,ID,Owner/Influence,Name,Screen_name,Status,Why did I choose this person?
0,Ethereum,ethereum,Vitalik Buterin,vitalik.eth,VitalikButerin,co-founder,he is also known in crypto world
1,BNB,binancecoin,Changpeng Zhao,CZ ??Binance,cz_binance,CEO,NaN
2,XRP,ripple,Brad Garlinghouse,Brad Garlinghouse,bgarlinghouse,CEO,NaN
3,ADA(Cardano),cardano,Charles Hoskinson,Charles Hoskinson,IOHK_Charles,CEO/co-founder,NaN
4,DOGE,dogecoin,Elon Musk_doge,Elon Musk,elonmusk,influencer,"as a popular figure, highly interested in this..."
5,MATIC(Polygon),matic-network,Sandeep Nailwal,Sandeep | Polygon ????3??,sandeepnailwal,co-founder,he seems more active than other co-founders
6,DOT(Polkadot),polkadot,WEB3 Foundation,Web3 Foundation,Web3foundation,foundation,there is no account of CEO or sth
7,HEX,hex,Richard Heart,Richard Heart,RichardHeartWin,CEO,NaN
8,SHIB,shiba-inu,Elon Musk_shiba,Elon Musk,elonmusk,influencer,"as a popular figure, highly interested in this..."
9,SOL,solana,Solana,Solana,solana,company,there is no account of CEO or sth
10,TRX,tron,Justin Sun,H.E. Justin Sun,justinsuntron,founder,same with WTRX!
11,UNI,uniswap,Uniswap,Uniswap Labs ??,Uniswap,company,there is no account of CEO or sth
12,LTC,litecoin,Charlie Lee,Charlie Lee ?????,SatoshiLite,founder,NaN
13,AVAX,avalanche-2,Emin Gün Sirer,Emin Gün Sirer??,el33th4xor,CEO,NaN
14,LINK,chainlink,Sergey Nazarov,Sergey Nazarov,SergeyNazarov,founder,NaN
15,ATOM,cosmos,Ethan Buchman,Ethan Buchman,buchmanster,co-founder,NaN

# Taking Tweets of List of Users

user = "el33th4xor"
limit = 300

In [7]:
#datetime format -> (year, month, day, hour, minute, second)
endDate = datetime.datetime(2022, 12, 31, 23, 59, 59)
startDate = endDate - relativedelta(days = 200)
#endDate = datetime.datetime.now()
#startDate = endDate - relativedelta(days = 1) #days, months, years can be used to calculate

utc=pytz.UTC

startDate = utc.localize(startDate) 
endDate = utc.localize(endDate)

In [8]:
columns = ["Tweet_id", "Name", "Screen_name", "Tweet", "Date", "Category", "N_of_RT", "N_of_fav", "Related_coin"]

--old version of taking tweets
#cursor can be used for just one time, be careful about that, save and use use data frame/s for next steps
tweets = tw.Cursor(api.user_timeline, 
                   screen_name = user, count = 200, 
                   tweet_mode = "extended").items(limit)

In [9]:
def take_tweets(sc_name):
    tweets = []
    tmpTweets = api.user_timeline(screen_name = sc_name)
    if(len(tmpTweets) == 0):
        print("First request for/", sc_name, "/is unseccessful")
    for tweet in tmpTweets:
        if tweet.created_at < endDate and tweet.created_at > startDate:
            tweets.append(tweet)
    
    while tmpTweets[-1].created_at > startDate:
        old_ID = tmpTweets[-1].id
        tmpTweets = api.user_timeline(screen_name = sc_name, max_id = old_ID)
        while(len(tmpTweets) == 0):
            #print("empty list, please try again")
            tmpTweets = api.user_timeline(screen_name = sc_name, max_id = old_ID)
        #print("1: ", {tmpTweets[0].created_at})
        #print("2: ", {tmpTweets[-1].created_at})
        for tweet in tmpTweets:
            if tweet.created_at < endDate and tweet.created_at > startDate:
                tweets.append(tweet)
    return tweets

In [10]:
def take_tweets_2(sc_name):
    tweets = []
     
    while True:
        try:
            tmpTweets = api.user_timeline(screen_name = sc_name)
            while(len(tmpTweets) == 0):
                #print("empty list, please try again")
                tmpTweets = api.user_timeline(screen_name = sc_name)
            for tweet in tmpTweets:
                if tweet.created_at < endDate and tweet.created_at > startDate:
                    tweets.append(tweet)
            break
        except tw.errors.TweepyException as e:
            print(e)
            time.sleep(60*15)
            continue
    
    while True:
        try:
            while(len(tmpTweets) > 0) and (tmpTweets[-1].created_at > startDate):
                old_ID = tmpTweets[-1].id
                tmpTweets = api.user_timeline(screen_name = sc_name, max_id = old_ID)
                while(len(tmpTweets) == 0):
                    #print("empty list, please try again")
                    tmpTweets = api.user_timeline(screen_name = sc_name, max_id = old_ID)
                    #print("1: ", {tmpTweets[0].created_at})
                for tweet in tmpTweets:
                    if tweet.created_at < endDate and tweet.created_at > startDate:
                        tweets.append(tweet)
            break
        except tw.errors.TweepyException as e:
            print(e)
            time.sleep(60*15)
            continue
    print(sc_name)    
    return tweets

In [11]:
def categorize_tweets(tweets):
    
    data = []
    term_rt = "RT"
    for tweet in tweets:
    
        #for consecutive tweets, next one is shown primaryly in data frame, I can check with using hours and minutes if necessary
        date = tweet.created_at
        #date = date.strftime('%Y-%m-%d')
    
        #retweet and favorite counts
        number_of_retweet = tweet.retweet_count
        number_of_favorite = tweet.favorite_count
    
    
        #it's gonna be direct tweet if all the checks below fail
        category_specified = "direct"

        #retweet check
        if term_rt in tweet.text.split():

            category_specified = "retweet"

        #quote(rt with comment) check
        elif tweet.is_quote_status is True:
            category_specified = "quote"

        #reply check
        elif tweet.in_reply_to_status_id is not None:
            category_specified = "reply"

        data.append([tweet.id, tweet.user.name, tweet.user.screen_name, tweet.text, date, category_specified, number_of_retweet, number_of_favorite, ""])
    
    df_met = pd.DataFrame(data, columns = columns)
    return df_met

In [12]:
def tweetCollector(user_df):
    df = pd.DataFrame(columns = columns)

    index_counter_1 = 0;
    for x in user_df.Screen_name:
    
        taken_tweets = take_tweets_2(x)
        df_met_2 = categorize_tweets(taken_tweets)

        df_met_2["Related_coin"] = user_df["ID"][index_counter_1]
        index_counter_1 += 1

        df = df.append(df_met_2)

    df = df[["Tweet_id", "Name", "Screen_name", "Related_coin", "Tweet", "Date", "Category", "N_of_RT", "N_of_fav"]]
    
    return df

In [13]:
def oneCollector(sc_name):
    df = pd.DataFrame(columns = columns)
    
    taken_tweets = take_tweets_2(sc_name)
    df_met_2 = categorize_tweets(taken_tweets)

    df_met_2["Related_coin"] = sc_name

    df = df.append(df_met_2)
    df = df[["Tweet_id", "Name", "Screen_name", "Related_coin", "Tweet", "Date", "Category", "N_of_RT", "N_of_fav"]]
    
    return df

In [14]:
#oneCollector example
#sc_n = "cz_binance"
#df_one = oneCollector(sc_n)
#df_one

In [15]:
#tweetCollector example
"""start = time.time()
df = tweetCollector(user_df)
end = time.time()
print(end - start)"""

'start = time.time()\ndf = tweetCollector(user_df)\nend = time.time()\nprint(end - start)'

In [16]:
#right now df is used by oneCollector
sc_n = "VitalikButerin"
df = oneCollector(sc_n)
df

VitalikButerin

,Tweet_id,Name,Screen_name,Related_coin,Tweet,Date,Category,N_of_RT,N_of_fav
0,1609334004917964800,vitalik.eth,VitalikButerin,VitalikButerin,@ChenWainuo @zengjiajun_eth @BlockGeekDima 我也祝...,2022-12-31 23:41:41+00:00,reply,3,11
1,1609312409491066882,vitalik.eth,VitalikButerin,VitalikButerin,RT @VitalikButerin: @IAPonomarenko Happy new y...,2022-12-31 22:15:52+00:00,retweet,645,0
2,1609310102338543616,vitalik.eth,VitalikButerin,VitalikButerin,"@IAPonomarenko Happy new year, and lots of lov...",2022-12-31 22:06:42+00:00,reply,645,5637
3,1609215293754163201,vitalik.eth,VitalikButerin,VitalikButerin,@lexfridman @GretaThunberg @Cobratate I would ...,2022-12-31 15:49:58+00:00,reply,170,4968
4,1609209529706872833,vitalik.eth,VitalikButerin,VitalikButerin,"@balajis Reaching the ""basic rollup scaling"" m...",2022-12-31 15:27:04+00:00,reply,451,2801
...,...,...,...,...,...,...,...,...,...
1805,1536877366143864834,vitalik.eth,VitalikButerin,VitalikButerin,@glenweyl @joshgans And so explicit per-countr...,2022-06-15 01:04:52+00:00,reply,1,17
1806,1536877171003863040,vitalik.eth,VitalikButerin,VitalikButerin,@glenweyl @joshgans I would even say that econ...,2022-06-15 01:04:06+00:00,reply,3,21
1807,1536877171003863040,vitalik.eth,VitalikButerin,VitalikButerin,@glenweyl @joshgans I would even say that econ...,2022-06-15 01:04:06+00:00,reply,3,21
1808,1536876733407932417,vitalik.eth,VitalikButerin,VitalikButerin,@glenweyl @joshgans ... to the point where a 1...,2022-06-15 01:02:21+00:00,reply,1,18
1809,1536876444290367492,vitalik.eth,VitalikButerin,VitalikButerin,@glenweyl @joshgans To name one specific examp...,2022-06-15 01:01:12+00:00,reply,3,28

In [17]:
df

,Tweet_id,Name,Screen_name,Related_coin,Tweet,Date,Category,N_of_RT,N_of_fav
0,1609334004917964800,vitalik.eth,VitalikButerin,VitalikButerin,@ChenWainuo @zengjiajun_eth @BlockGeekDima 我也祝...,2022-12-31 23:41:41+00:00,reply,3,11
1,1609312409491066882,vitalik.eth,VitalikButerin,VitalikButerin,RT @VitalikButerin: @IAPonomarenko Happy new y...,2022-12-31 22:15:52+00:00,retweet,645,0
2,1609310102338543616,vitalik.eth,VitalikButerin,VitalikButerin,"@IAPonomarenko Happy new year, and lots of lov...",2022-12-31 22:06:42+00:00,reply,645,5637
3,1609215293754163201,vitalik.eth,VitalikButerin,VitalikButerin,@lexfridman @GretaThunberg @Cobratate I would ...,2022-12-31 15:49:58+00:00,reply,170,4968
4,1609209529706872833,vitalik.eth,VitalikButerin,VitalikButerin,"@balajis Reaching the ""basic rollup scaling"" m...",2022-12-31 15:27:04+00:00,reply,451,2801
...,...,...,...,...,...,...,...,...,...
1805,1536877366143864834,vitalik.eth,VitalikButerin,VitalikButerin,@glenweyl @joshgans And so explicit per-countr...,2022-06-15 01:04:52+00:00,reply,1,17
1806,1536877171003863040,vitalik.eth,VitalikButerin,VitalikButerin,@glenweyl @joshgans I would even say that econ...,2022-06-15 01:04:06+00:00,reply,3,21
1807,1536877171003863040,vitalik.eth,VitalikButerin,VitalikButerin,@glenweyl @joshgans I would even say that econ...,2022-06-15 01:04:06+00:00,reply,3,21
1808,1536876733407932417,vitalik.eth,VitalikButerin,VitalikButerin,@glenweyl @joshgans ... to the point where a 1...,2022-06-15 01:02:21+00:00,reply,1,18
1809,1536876444290367492,vitalik.eth,VitalikButerin,VitalikButerin,@glenweyl @joshgans To name one specific examp...,2022-06-15 01:01:12+00:00,reply,3,28

In [18]:
#removing duplications, reseting index
df.drop_duplicates(inplace = True)
df.reset_index(inplace = True, drop = True)

""" example code """
this is the way take tweets with limit which is 200
tweets = api.user_timeline(screen_name = user,
                           count = limit,
                           include_rts = True,
                           tweet_mode = "extended")
"""

In [19]:
#seperating dat-month-year
df['Day'] = pd.DatetimeIndex(df['Date']).day
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Year'] = pd.DatetimeIndex(df['Date']).year

In [20]:
df.shape

(1719, 12)

In [21]:
#null check --> if it is "False", we all ok
df.isna().any().any()

False

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1719 entries, 0 to 1718
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tweet_id      1719 non-null   object
 1   Name          1719 non-null   object
 2   Screen_name   1719 non-null   object
 3   Related_coin  1719 non-null   object
 4   Tweet         1719 non-null   object
 5   Date          1719 non-null   object
 6   Category      1719 non-null   object
 7   N_of_RT       1719 non-null   object
 8   N_of_fav      1719 non-null   object
 9   Day           1719 non-null   int64
 10  Month         1719 non-null   int64
 11  Year          1719 non-null   int64
dtypes: int64(3), object(9)
memory usage: 161.3+ KB

In [23]:
#duplication check
df[df.duplicated(keep=False)].shape[0]

0

In [24]:
df['Date'] = df['Date'].dt.tz_localize(None)

In [25]:
#check .xlsx file name
pd.set_option("max_rows", None)
df.to_excel(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\RA_Cryptocurrency\Data\Tweet Data\tweets_VitalikButerin.xlsx")
df.head()

,Tweet_id,Name,Screen_name,Related_coin,Tweet,Date,Category,N_of_RT,N_of_fav,Day,Month,Year
0,1609334004917964800,vitalik.eth,VitalikButerin,VitalikButerin,@ChenWainuo @zengjiajun_eth @BlockGeekDima 我也祝...,2022-12-31 23:41:41,reply,3,11,31,12,2022
1,1609312409491066882,vitalik.eth,VitalikButerin,VitalikButerin,RT @VitalikButerin: @IAPonomarenko Happy new y...,2022-12-31 22:15:52,retweet,645,0,31,12,2022
2,1609310102338543616,vitalik.eth,VitalikButerin,VitalikButerin,"@IAPonomarenko Happy new year, and lots of lov...",2022-12-31 22:06:42,reply,645,5637,31,12,2022
3,1609215293754163201,vitalik.eth,VitalikButerin,VitalikButerin,@lexfridman @GretaThunberg @Cobratate I would ...,2022-12-31 15:49:58,reply,170,4968,31,12,2022
4,1609209529706872833,vitalik.eth,VitalikButerin,VitalikButerin,"@balajis Reaching the ""basic rollup scaling"" m...",2022-12-31 15:27:04,reply,451,2801,31,12,2022

In [37]:
#seperation according to categories 
retweet_df = df[df["Category"] == "retweet"]
retweet_df.reset_index(inplace = True, drop=True)
quote_df = df[df["Category"] == "quote"]
quote_df.reset_index(inplace = True, drop=True)
reply_df = df[df["Category"] == "reply"]
reply_df.reset_index(inplace = True, drop=True)
direct_df = df[df["Category"] == "direct"]
direct_df.reset_index(inplace = True, drop=True)
retweet_df.head()

,Tweet_id,Name,Screen_name,Related_coin,Tweet,Date,Category,N_of_RT,N_of_fav,Day,Month,Year
0,1609312409491066882,vitalik.eth,VitalikButerin,ethereum,RT @VitalikButerin: @IAPonomarenko Happy new y...,2022-12-31,retweet,545,0,31,12,2022
1,1609050268632772611,Charles Hoskinson,IOHK_Charles,cardano,RT @ikigai_myagi: @IOHK_Charles Took this pict...,2022-12-31,retweet,11,0,31,12,2022
2,1609207496434159621,Sandeep | Polygon 💜 Top 3 by impact,sandeepnailwal,matic-network,RT @eaglelex_eth: 11/The work at @0xPolygon 💜 ...,2022-12-31,retweet,3,0,31,12,2022
3,1609207483825889280,Sandeep | Polygon 💜 Top 3 by impact,sandeepnailwal,matic-network,RT @eaglelex_eth: 1/The future of #DeFi \n\nSo...,2022-12-31,retweet,13,0,31,12,2022
4,1609207102320377858,Sandeep | Polygon 💜 Top 3 by impact,sandeepnailwal,matic-network,RT @thematicman: 🎆 10 POLYGON NFT PROJECTS SET...,2022-12-31,retweet,65,0,31,12,2022

# Taking User Object

In [ ]:
user_try = api.get_user(screen_name = "el33th4xor")
user_try.name

# Follower - Followed

check this part of code later??????????????? cursor object is not itterable?

In [ ]:
user = "el33th4xor"
followers = []
get_followers = api.get_followers(screen_name = user)
#get_followers = tw.Cursor(api.get_followers, id = user)

for user in get_followers:
    followers.append(user)

In [ ]:
len(followers)

In [ ]:
columns_follower = ["User_id", "Name", "Screen_name", "Verification_st", "Followers_count", "Followed_count"]
data_followers = []

In [ ]:
for user in followers:
    data_followers.append([user.id, user.name, user.screen_name, user.verified, user.followers_count, user.friends_count])

In [ ]:
df_follower = pd.DataFrame(data_followers, columns = columns_follower)
df_follower

In [ ]:
df_follower.drop_duplicates(inplace = True)
df_follower.reset_index(inplace = True, drop = True)

# Statistics and Visualization

Graph should be addepted to new version of df(with lots of users)

In [ ]:
df.corr()

In [ ]:
plot1 = retweet_df.groupby("Day")["Tweet_id"].count()
plot2 = quote_df.groupby("Day")["Tweet_id"].count()
plot3 = reply_df.groupby("Day")["Tweet_id"].count()
plot4 = direct_df.groupby("Day")["Tweet_id"].count()
plt.figure(figsize = (14,7))
ax= plt.subplot()
ax.bar(plot1.index-0.3, plot1.values, width = 0.2, color = "pink", align = "center", label = "Retweet")
ax.bar(plot2.index-0.1, plot2.values, width = 0.2, color = "yellow", align = "center", label = "Quote")
ax.bar(plot3.index+0.1, plot3.values, width = 0.2, color = "purple", align = "center", label = "Reply")
ax.bar(plot4.index+0.3, plot4.values, width = 0.2, color = "grey", align = "center", label = "Direct")
plt.title("Number of Tweets According to Category per Day")
plt.ylabel("Number of Tweets")
plt.xlabel("Days")
#they are not sorted from 1 to 30 or 31, last they is today and first day is one month earlier. There is need for a solution also.
plt.xticks([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]) #find a solution for changes of number of days in a month
plt.legend()
plt.show()

# Maneul Automation

In [ ]:
#check .xlsx file name
sc_n = "VitalikButerin"
df = oneCollector(sc_n)
df.drop_duplicates(inplace = True)
df.reset_index(inplace = True, drop = True)
df['Day'] = pd.DatetimeIndex(df['Date']).day
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Year'] = pd.DatetimeIndex(df['Date']).year
df['Date'] = df['Date'].dt.tz_localize(None)
df.to_excel(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\RA_Cryptocurrency\Data\Tweet Data\tweets_VitalikButerin.xlsx")