In [1]:
# Import Libraries
import tweepy as tw
import configparser
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import re
import nltk
import datetime
from datetime import datetime as datetime_price
import pytz
from dateutil.relativedelta import relativedelta
import time

# Authentication for API

In [2]:
keys = pd.read_csv(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\Input\TW API Keys\apikeys.csv")

my_api_key = keys["Keys"][0]
my_api_secret = keys["Keys"][1]

my_access_token = keys["Keys"][2]
my_access_token_secret = keys["Keys"][3]

In [3]:
# your Twitter API key ans access token
api_key = my_api_key
api_secret = my_api_secret

access_token = my_access_token
access_token_secret = my_access_token_secret

In [4]:
# authenticate
auth = tw.OAuthHandler(my_api_key, my_api_secret)
auth.set_access_token(access_token, access_token_secret)

In [5]:
api = tw.API(auth, wait_on_rate_limit=True)

# Insert the List of Users

In [6]:
user_df = pd.read_csv(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\Input\Top 20 Cryptocurrencies and Related TW Accounts.csv", encoding= 'unicode_escape')
user_df

,Coin,ID,Owner/Influence,Name,Screen_name,Status,Why did I choose this person?
0,Ethereum,ethereum,Vitalik Buterin,vitalik.eth,VitalikButerin,co-founder,he is also known in crypto world
1,BNB,binancecoin,Changpeng Zhao,CZ ??Binance,cz_binance,CEO,NaN
2,XRP,ripple,Brad Garlinghouse,Brad Garlinghouse,bgarlinghouse,CEO,NaN
3,ADA(Cardano),cardano,Charles Hoskinson,Charles Hoskinson,IOHK_Charles,CEO/co-founder,NaN
4,DOGE,dogecoin,Elon Musk_doge,Elon Musk,elonmusk,influencer,"as a popular figure, highly interested in this..."
5,MATIC(Polygon),matic-network,Sandeep Nailwal,Sandeep | Polygon ????3??,sandeepnailwal,co-founder,he seems more active than other co-founders
6,DOT(Polkadot),polkadot,WEB3 Foundation,Web3 Foundation,Web3foundation,foundation,there is no account of CEO or sth
7,HEX,hex,Richard Heart,Richard Heart,RichardHeartWin,CEO,NaN
8,SHIB,shiba-inu,Elon Musk_shiba,Elon Musk,elonmusk,influencer,"as a popular figure, highly interested in this..."
9,SOL,solana,Solana,Solana,solana,company,there is no account of CEO or sth
10,TRX,tron,Justin Sun,H.E. Justin Sun,justinsuntron,founder,same with WTRX!
11,UNI,uniswap,Uniswap,Uniswap Labs ??,Uniswap,company,there is no account of CEO or sth
12,LTC,litecoin,Charlie Lee,Charlie Lee ?????,SatoshiLite,founder,NaN
13,AVAX,avalanche-2,Emin G√ºn Sirer,Emin G√ºn Sirer??,el33th4xor,CEO,NaN
14,LINK,chainlink,Sergey Nazarov,Sergey Nazarov,SergeyNazarov,founder,NaN
15,ATOM,cosmos,Ethan Buchman,Ethan Buchman,buchmanster,co-founder,NaN

# Taking Tweets of List of Users

user = "el33th4xor"
limit = 300

In [7]:
#datetime format -> (year, month, day, hour, minute, second)
endDate = datetime.datetime.now()
startDate = endDate - relativedelta(years = 3)
#endDate = datetime.datetime.now()
#startDate = endDate - relativedelta(days = 1) #days, months, years can be used to calculate

utc=pytz.UTC

startDate = utc.localize(startDate) 
endDate = utc.localize(endDate)

In [8]:
startDate

datetime.datetime(2021, 11, 25, 23, 59, 59, tzinfo=<UTC>)

In [9]:
columns = ["Tweet_id", "Name", "Screen_name", "Tweet", "Date", "Category", "N_of_RT", "N_of_fav", "Related_coin"]

--old version of taking tweets
#cursor can be used for just one time, be careful about that, save and use use data frame/s for next steps
tweets = tw.Cursor(api.user_timeline, 
                   screen_name = user, count = 200, 
                   tweet_mode = "extended").items(limit)

In [10]:
def take_tweets(sc_name):
    tweets = []
    tmpTweets = api.user_timeline(screen_name = sc_name)
    if(len(tmpTweets) == 0):
        print("First request for/", sc_name, "/is unseccessful")
    for tweet in tmpTweets:
        if tweet.created_at < endDate and tweet.created_at > startDate:
            tweets.append(tweet)
    
    while tmpTweets[-1].created_at > startDate:
        old_ID = tmpTweets[-1].id
        tmpTweets = api.user_timeline(screen_name = sc_name, max_id = old_ID)
        while(len(tmpTweets) == 0):
            #print("empty list, please try again")
            tmpTweets = api.user_timeline(screen_name = sc_name, max_id = old_ID)
        #print("1: ", {tmpTweets[0].created_at})
        #print("2: ", {tmpTweets[-1].created_at})
        for tweet in tmpTweets:
            if tweet.created_at < endDate and tweet.created_at > startDate:
                tweets.append(tweet)
    return tweets

In [11]:
def take_tweets_2(sc_name):
    #variables
    start = time.time()
    tweets = []
    num_of_tweets = 0
    
    #initial request
    while True:
        try:
            tmpTweets = api.user_timeline(screen_name = sc_name)
            while(len(tmpTweets) == 0):
                print("empty list error_1, please try again")
                tmpTweets = api.user_timeline(screen_name = sc_name)
            for tweet in tmpTweets:
                if tweet.created_at < endDate and tweet.created_at > startDate:
                    tweets.append(tweet)
                    num_of_tweets += 1
            break
        except tw.errors.TweepyException as e:
            print("Going to sleep")
            print(e)
            time.sleep(60*15)
            continue
    
    #collection
    while True:
        try:
            while (tmpTweets[-1].created_at > startDate) and (num_of_tweets < 3400) and (len(tmpTweets) != 1):
                old_ID = tmpTweets[-1].id
                tmpTweets = api.user_timeline(screen_name = sc_name, max_id = old_ID)
                while(len(tmpTweets) == 0):
                    print("empty list error_2, please try again")
                    print(old_ID)
                    time.sleep(15)
                    tmpTweets = api.user_timeline(screen_name = sc_name, max_id = old_ID)
                    #print("1: ", {tmpTweets[0].created_at})
                for tweet in tmpTweets:
                    if tweet.created_at < endDate and tweet.created_at > startDate:
                        tweets.append(tweet)
                        num_of_tweets += 1
            break
        except tw.errors.TweepyException as e:
            print(e)
            print("Going to sleep")
            time.sleep(60*15)
            continue
    
    #return        
    end = time.time()
    print(sc_name)
    print(end-start)
    return tweets

In [12]:
def take_tweets_ID(sc_name, max_ID):
    tweets = []
     
    while True:
        try:
            tmpTweets = api.user_timeline(screen_name = sc_name, max_id = max_ID)
            while(len(tmpTweets) == 0):
                #print("empty list, please try again")
                tmpTweets = api.user_timeline(screen_name = sc_name, max_id = max_ID)
            for tweet in tmpTweets:
                if tweet.created_at < endDate and tweet.created_at > startDate:
                    tweets.append(tweet)
            break
        except tw.errors.TweepyException as e:
            print("Going to sleep")
            print(e)
            time.sleep(60*15)
            continue
    
    while True:
        try:
            while tmpTweets[-1].created_at > startDate:
                old_ID = tmpTweets[-1].id
                tmpTweets = api.user_timeline(screen_name = sc_name, max_id = old_ID)
                while(len(tmpTweets) == 0):
                    #print("empty list, please try again")
                    tmpTweets = api.user_timeline(screen_name = sc_name, max_id = old_ID)
                    #print("1: ", {tmpTweets[0].created_at})
                for tweet in tmpTweets:
                    if tweet.created_at < endDate and tweet.created_at > startDate:
                        tweets.append(tweet)
            break
        except tw.errors.TweepyException as e:
            print(e)
            time.sleep(60*15)
            continue
    print(sc_name)    
    return tweets

In [13]:
def categorize_tweets(tweets):
    
    data = []
    term_rt = "RT"
    for tweet in tweets:
    
        #for consecutive tweets, next one is shown primaryly in data frame, I can check with using hours and minutes if necessary
        date = tweet.created_at
        #date = date.strftime('%Y-%m-%d')
    
        #retweet and favorite counts
        number_of_retweet = tweet.retweet_count
        number_of_favorite = tweet.favorite_count
    
    
        #it's gonna be direct tweet if all the checks below fail
        category_specified = "direct"

        #retweet check
        if term_rt in tweet.text.split():

            category_specified = "retweet"

        #quote(rt with comment) check
        elif tweet.is_quote_status is True:
            category_specified = "quote"

        #reply check
        elif tweet.in_reply_to_status_id is not None:
            category_specified = "reply"

        data.append([tweet.id, tweet.user.name, tweet.user.screen_name, tweet.text, date, category_specified, number_of_retweet, number_of_favorite, ""])
    
    df_met = pd.DataFrame(data, columns = columns)
    return df_met

In [14]:
def tweetCollector(user_df):
    df = pd.DataFrame(columns = columns)

    index_counter_1 = 0;
    for x in user_df.Screen_name:
    
        taken_tweets = take_tweets_2(x)
        df_met_2 = categorize_tweets(taken_tweets)

        df_met_2["Related_coin"] = user_df["ID"][index_counter_1]
        index_counter_1 += 1

        df = df.append(df_met_2)

    df = df[["Tweet_id", "Name", "Screen_name", "Related_coin", "Tweet", "Date", "Category", "N_of_RT", "N_of_fav"]]
    
    return df

In [15]:
def oneCollector(sc_name):
    df = pd.DataFrame(columns = columns)
    
    taken_tweets = take_tweets_2(sc_name)
    df_met_2 = categorize_tweets(taken_tweets)

    df_met_2["Related_coin"] = sc_name

    df = df.append(df_met_2)
    df = df[["Tweet_id", "Name", "Screen_name", "Related_coin", "Tweet", "Date", "Category", "N_of_RT", "N_of_fav"]]
    
    return df

In [16]:
def oneCollector_ID(sc_name, max_ID):
    df = pd.DataFrame(columns = columns)
    
    taken_tweets = take_tweets_ID(sc_name, max_ID)
    df_met_2 = categorize_tweets(taken_tweets)

    df_met_2["Related_coin"] = sc_name

    df = df.append(df_met_2)
    df = df[["Tweet_id", "Name", "Screen_name", "Related_coin", "Tweet", "Date", "Category", "N_of_RT", "N_of_fav"]]
    
    return df

In [17]:
#oneCollector example
#sc_n = "cz_binance"
#df_one = oneCollector(sc_n)
#df_one

In [18]:
#tweetCollector example
#right now df is used by tweetCollector
start = time.time()
df = tweetCollector(user_df)
end = time.time()
print(end - start)

VitalikButerin
68.97270035743713
empty list error_2, please try again
1614525534729388035
empty list error_2, please try again
1606685577277046788
empty list error_2, please try again
1604796865987452931
empty list error_2, please try again
1601592226773016576
empty list error_2, please try again
1593102435744374784
empty list error_2, please try again
1584931245103886338
empty list error_2, please try again
1575140368261255170
empty list error_2, please try again
1573968232964300800
empty list error_2, please try again
1573968232964300800
empty list error_2, please try again
1568501966887845889
empty list error_2, please try again
1564145222891749378
empty list error_2, please try again
1564145222891749378
empty list error_2, please try again
1551613269856514048
empty list error_2, please try again
1546209984031096842
cz_binance
302.78595089912415
bgarlinghouse
4.730978965759277
IOHK_Charles
86.46696925163269
elonmusk
79.27119755744934
empty list error_2, please try again
1575781912387661829
sandeepnailwal
117.08391332626343
Web3foundation
7.5679030418396

Rate limit reached. Sleeping for: 147

RichardHeartWin
234.28201842308044
elonmusk
81.80769920349121
empty list error_2, please try again
1601239538600665088
solana
70.02510118484497
empty list error_2, please try again
1475681085476458499
justinsuntron
94.42080235481262
empty list error_2, please try again
1546886741990203393
Uniswap
31.147133588790894
SatoshiLite
23.12655234336853
el33th4xor
76.38224673271179
SergeyNazarov
3.3075778484344482

Rate limit reached. Sleeping for: 383

buchmanster
472.00128197669983
1755.6124637126923

In [20]:
"""#right now df is used by oneCollector
sc_n = "justinsuntron"
df = oneCollector(sc_n)
df"""

'#right now df is used by oneCollector\nsc_n = "justinsuntron"\ndf = oneCollector(sc_n)\ndf'

In [21]:
df

,Tweet_id,Name,Screen_name,Related_coin,Tweet,Date,Category,N_of_RT,N_of_fav
0,1609334004917964800,vitalik.eth,VitalikButerin,ethereum,@ChenWainuo @zengjiajun_eth @BlockGeekDima Êàë‰πüÁ•ù...,2022-12-31 23:41:41+00:00,reply,3,11
1,1609312409491066882,vitalik.eth,VitalikButerin,ethereum,RT @VitalikButerin: @IAPonomarenko Happy new y...,2022-12-31 22:15:52+00:00,retweet,648,0
2,1609310102338543616,vitalik.eth,VitalikButerin,ethereum,"@IAPonomarenko Happy new year, and lots of lov...",2022-12-31 22:06:42+00:00,reply,648,5682
3,1609215293754163201,vitalik.eth,VitalikButerin,ethereum,@lexfridman @GretaThunberg @Cobratate I would ...,2022-12-31 15:49:58+00:00,reply,169,4965
4,1609209529706872833,vitalik.eth,VitalikButerin,ethereum,"@balajis Reaching the ""basic rollup scaling"" m...",2022-12-31 15:27:04+00:00,reply,453,2807
...,...,...,...,...,...,...,...,...,...
3257,1472714294643109892,"Ethan Buchman (üêù,ü¶á)",buchmanster,cosmos,@MpeterF @Econgrad5143 @DEhnts @HenricCont @vi...,2021-12-19 23:43:44+00:00,reply,0,0
3258,1472713854585126918,"Ethan Buchman (üêù,ü¶á)",buchmanster,cosmos,@TheStalwart @leee_harris I guess generally it...,2021-12-19 23:41:59+00:00,quote,0,0
3259,1472711376909000704,"Ethan Buchman (üêù,ü¶á)",buchmanster,cosmos,@MpeterF @Econgrad5143 @DEhnts @HenricCont @vi...,2021-12-19 23:32:08+00:00,reply,0,1
3260,1472709636218363916,"Ethan Buchman (üêù,ü¶á)",buchmanster,cosmos,@MpeterF @Econgrad5143 @DEhnts @HenricCont @vi...,2021-12-19 23:25:13+00:00,reply,0,1
3261,1472709636218363916,"Ethan Buchman (üêù,ü¶á)",buchmanster,cosmos,@MpeterF @Econgrad5143 @DEhnts @HenricCont @vi...,2021-12-19 23:25:13+00:00,reply,0,1

In [22]:
#removing duplications, reseting index
df.drop_duplicates(inplace = True)
df.reset_index(inplace = True, drop = True)

""" example code """
this is the way take tweets with limit which is 200
tweets = api.user_timeline(screen_name = user,
                           count = limit,
                           include_rts = True,
                           tweet_mode = "extended")
"""

In [23]:
#seperating dat-month-year
df['Day'] = pd.DatetimeIndex(df['Date']).day
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Year'] = pd.DatetimeIndex(df['Date']).year

In [24]:
df.shape

(29387, 12)

In [25]:
#null check --> if it is "False", we all ok
df.isna().any().any()

False

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29387 entries, 0 to 29386
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Tweet_id      29387 non-null  object
 1   Name          29387 non-null  object
 2   Screen_name   29387 non-null  object
 3   Related_coin  29387 non-null  object
 4   Tweet         29387 non-null  object
 5   Date          29387 non-null  object
 6   Category      29387 non-null  object
 7   N_of_RT       29387 non-null  object
 8   N_of_fav      29387 non-null  object
 9   Day           29387 non-null  int64
 10  Month         29387 non-null  int64
 11  Year          29387 non-null  int64
dtypes: int64(3), object(9)
memory usage: 2.7+ MB

In [27]:
#duplication check
df[df.duplicated(keep=False)].shape[0]

0

In [28]:
df['Date'] = df['Date'].dt.tz_localize(None)

In [29]:
#check .xlsx file name
pd.set_option("max_rows", None)
df.to_excel(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\RA_Cryptocurrency\Data\Tweet Data\tweets_all.xlsx")
df.head()

,Tweet_id,Name,Screen_name,Related_coin,Tweet,Date,Category,N_of_RT,N_of_fav,Day,Month,Year
0,1609334004917964800,vitalik.eth,VitalikButerin,ethereum,@ChenWainuo @zengjiajun_eth @BlockGeekDima Êàë‰πüÁ•ù...,2022-12-31 23:41:41,reply,3,11,31,12,2022
1,1609312409491066882,vitalik.eth,VitalikButerin,ethereum,RT @VitalikButerin: @IAPonomarenko Happy new y...,2022-12-31 22:15:52,retweet,648,0,31,12,2022
2,1609310102338543616,vitalik.eth,VitalikButerin,ethereum,"@IAPonomarenko Happy new year, and lots of lov...",2022-12-31 22:06:42,reply,648,5682,31,12,2022
3,1609215293754163201,vitalik.eth,VitalikButerin,ethereum,@lexfridman @GretaThunberg @Cobratate I would ...,2022-12-31 15:49:58,reply,169,4965,31,12,2022
4,1609209529706872833,vitalik.eth,VitalikButerin,ethereum,"@balajis Reaching the ""basic rollup scaling"" m...",2022-12-31 15:27:04,reply,453,2807,31,12,2022

In [ ]:
#seperation according to categories 
retweet_df = df[df["Category"] == "retweet"]
retweet_df.reset_index(inplace = True, drop=True)
quote_df = df[df["Category"] == "quote"]
quote_df.reset_index(inplace = True, drop=True)
reply_df = df[df["Category"] == "reply"]
reply_df.reset_index(inplace = True, drop=True)
direct_df = df[df["Category"] == "direct"]
direct_df.reset_index(inplace = True, drop=True)
retweet_df.head()

# Taking User Object

In [ ]:
user_try = api.get_user(screen_name = "el33th4xor")
user_try.name

# Follower - Followed

check this part of code later??????????????? cursor object is not itterable?

In [ ]:
user = "el33th4xor"
followers = []
get_followers = api.get_followers(screen_name = user)
#get_followers = tw.Cursor(api.get_followers, id = user)

for user in get_followers:
    followers.append(user)

In [ ]:
len(followers)

In [ ]:
columns_follower = ["User_id", "Name", "Screen_name", "Verification_st", "Followers_count", "Followed_count"]
data_followers = []

In [ ]:
for user in followers:
    data_followers.append([user.id, user.name, user.screen_name, user.verified, user.followers_count, user.friends_count])

In [ ]:
df_follower = pd.DataFrame(data_followers, columns = columns_follower)
df_follower

In [ ]:
df_follower.drop_duplicates(inplace = True)
df_follower.reset_index(inplace = True, drop = True)

# Statistics and Visualization

Graph should be addepted to new version of df(with lots of users)

In [ ]:
df.corr()

In [ ]:
plot1 = retweet_df.groupby("Day")["Tweet_id"].count()
plot2 = quote_df.groupby("Day")["Tweet_id"].count()
plot3 = reply_df.groupby("Day")["Tweet_id"].count()
plot4 = direct_df.groupby("Day")["Tweet_id"].count()
plt.figure(figsize = (14,7))
ax= plt.subplot()
ax.bar(plot1.index-0.3, plot1.values, width = 0.2, color = "pink", align = "center", label = "Retweet")
ax.bar(plot2.index-0.1, plot2.values, width = 0.2, color = "yellow", align = "center", label = "Quote")
ax.bar(plot3.index+0.1, plot3.values, width = 0.2, color = "purple", align = "center", label = "Reply")
ax.bar(plot4.index+0.3, plot4.values, width = 0.2, color = "grey", align = "center", label = "Direct")
plt.title("Number of Tweets According to Category per Day")
plt.ylabel("Number of Tweets")
plt.xlabel("Days")
#they are not sorted from 1 to 30 or 31, last they is today and first day is one month earlier. There is need for a solution also.
plt.xticks([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]) #find a solution for changes of number of days in a month
plt.legend()
plt.show()

# Maneul Automation :D

In [ ]:
#check .xlsx file name
sc_n = "elonmusk"
max_ID = 1576844919846880000
df = oneCollector_ID(sc_n, max_ID)
df.drop_duplicates(inplace = True)
df.reset_index(inplace = True, drop = True)
df['Day'] = pd.DatetimeIndex(df['Date']).day
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Year'] = pd.DatetimeIndex(df['Date']).year
df['Date'] = df['Date'].dt.tz_localize(None)
df.to_excel(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\RA_Cryptocurrency\Data\Tweet Data\tweets_elonmusk_2.xlsx")

Going to sleep
Failed to send request: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

Rate limit reached. Sleeping for: 423
Rate limit reached. Sleeping for: 721
Rate limit reached. Sleeping for: 722
Rate limit reached. Sleeping for: 722
Rate limit reached. Sleeping for: 727
Rate limit reached. Sleeping for: 726
Rate limit reached. Sleeping for: 722
Rate limit reached. Sleeping for: 728
Rate limit reached. Sleeping for: 727
Rate limit reached. Sleeping for: 719
Rate limit reached. Sleeping for: 523

Going to sleep
Failed to send request: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

Rate limit reached. Sleeping for: 611
Rate limit reached. Sleeping for: 746
Rate limit reached. Sleeping for: 753
Rate limit reached. Sleeping for: 754
Rate limit reached. Sleeping for: 751
Rate limit reached. Sleeping for: 754
Rate limit reached. Sleeping for: 610
Rate limit reached. Sleeping for: 746
Rate limit reached. Sleeping for: 754
Rate limit reached. Sleeping for: 770
Rate limit reached. Sleeping for: 769
Rate limit reached. Sleeping for: 769
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 772

Going to sleep
Failed to send request: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

Rate limit reached. Sleeping for: 763
Rate limit reached. Sleeping for: 770
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 641
Rate limit reached. Sleeping for: 764
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 770
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 773
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 773
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 771

Going to sleep
Failed to send request: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

Rate limit reached. Sleeping for: 762
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 772
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 773
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 646

Going to sleep
Failed to send request: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 770
Rate limit reached. Sleeping for: 770
Rate limit reached. Sleeping for: 770
Rate limit reached. Sleeping for: 771
Rate limit reached. Sleeping for: 769
Rate limit reached. Sleeping for: 770
Rate limit reached. Sleeping for: 768