In [51]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import datetime
import math

In [52]:
price_df = pd.read_csv(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\Project\Data\Input Data\price_data.csv", encoding="ISO-8859-1")
price_df

,Unnamed: 0,ID,timestamps,date_time,price,market_caps,volumes
0,0,ethereum,1640908800000,2021-12-31,3714.945456,4.416544e+11,1.344525e+10
1,1,ethereum,1640995200000,2022-01-01,3686.402542,4.397909e+11,1.429838e+10
2,2,ethereum,1641081600000,2022-01-02,3780.315874,4.498047e+11,9.948121e+09
3,3,ethereum,1641168000000,2022-01-03,3835.395991,4.568524e+11,1.006969e+10
4,4,ethereum,1641254400000,2022-01-04,3769.404940,4.486096e+11,1.246287e+10
...,...,...,...,...,...,...,...
6119,361,cosmos,1672099200000,2022-12-27,9.165806,2.685435e+09,7.984043e+07
6120,362,cosmos,1672185600000,2022-12-28,9.217066,2.692638e+09,9.948979e+07
6121,363,cosmos,1672272000000,2022-12-29,9.121968,2.670882e+09,1.163803e+08
6122,364,cosmos,1672358400000,2022-12-30,9.342944,2.736200e+09,1.141521e+08
6123,365,cosmos,1672444800000,2022-12-31,9.366087,2.740644e+09,1.000293e+08

In [53]:
for x in price_df.index:
    price_df["date_time"][x] = datetime.strptime(price_df["date_time"][x], '%Y-%m-%d')

<ipython-input-53-b8d0c318e07f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df["date_time"][x] = datetime.strptime(price_df["date_time"][x], '%Y-%m-%d')

In [54]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6124 entries, 0 to 6123
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   6124 non-null   int64
 1   ID           6124 non-null   object
 2   timestamps   6124 non-null   int64
 3   date_time    6124 non-null   object
 4   price        6124 non-null   float64
 5   market_caps  6124 non-null   float64
 6   volumes      6124 non-null   float64
dtypes: float64(3), int64(2), object(2)
memory usage: 335.0+ KB

In [89]:
def variance(data, ddof=0): #ddof = 0 for population, =1 for sample variance 
    n = len(data)
    if(n != 0):
        mean = sum(data) / n
        return sum((x - mean) ** 2 for x in data) / (n - ddof)
    else:
        return 144

In [84]:
def st_dev(data):
    var = variance(data)
    std_dev = math.sqrt(var)
    return std_dev

In [86]:
def sd_assigner(df, st_dev):
    
    df["st_dev"] = st_dev
    for x in df.index:
        if(abs(df["%change"][x]) > st_dev):
            df[">st_dev"][x] = 1
    
    return df

In [87]:
def st_dev_calculator(price_df):
    temp_df = price_df
    slice_df = pd.DataFrame()
    result_df = pd.DataFrame()
    temp_df["price_dif"] = 0.0
    temp_df["%change"] = 0.0
    temp_df["st_dev"] = 0.0
    temp_df[">st_dev"] = 0
    
    obs = []
    index_stamp = 1
    for x in temp_df.index:
        if(x != 0):
            x_price = temp_df["price"][x]
            pre_price = temp_df["price"][x-1]
            
            if(temp_df["ID"][x] == temp_df["ID"][x-1]):
                if(temp_df["date_time"][x].month == temp_df["date_time"][x-1].month): #change according to month checking
                    temp_df["price_dif"][x] = x_price-pre_price
                    x_price_dif = temp_df["price_dif"][x]
                    temp_df["%change"][x] = x_price_dif/pre_price
                    x_rate = temp_df["%change"][x]
                    obs.append(abs(x_rate))
                    
                else:
                    #calculating for new month's #1
                    temp_df["price_dif"][x] = x_price-pre_price
                    x_price_dif = temp_df["price_dif"][x]
                    temp_df["%change"][x] = x_price_dif/pre_price
                    x_rate = temp_df["%change"][x]
                    
                    #st_dev operation for previous month
                    sd = st_dev(obs)
                    
                    interval = list(range(index_stamp, x))
                    slice_df = temp_df[temp_df.index.isin(interval)]
                    
                    slice_df_v2 = sd_assigner(slice_df, sd)
                    result_df = result_df.append(slice_df_v2)
                    
                    obs.clear()
                    index_stamp = x
                    
                    #cont'd for this month
                    obs.append(abs(x_rate))
            else:
                sd = st_dev(obs)
                
                interval = list(range(index_stamp, x))
                slice_df = temp_df[temp_df.index.isin(interval)]
                    
                slice_df_v2 = sd_assigner(slice_df, sd)
                result_df = result_df.append(slice_df_v2)
                
                obs.clear()
                index_stamp = x+1
    
    return result_df

In [90]:
price_df_v2 = st_dev_calculator(price_df)

<ipython-input-87-7ee6f29e115e>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["price_dif"][x] = x_price-pre_price
<ipython-input-87-7ee6f29e115e>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["%change"][x] = x_price_dif/pre_price
<ipython-input-87-7ee6f29e115e>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["price_dif"][x] = x_price-pre_price
<ipython-input-87-7ee6f29e115e>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df["%change"][x] = x_price_dif/pre_price
<ipython-input-86-cf95842adf60>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["st_dev"] = st_dev
<ipython-input-86-cf95842adf60>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[">st_dev"][x] = 1
<ipython-input-87-7ee6f29e115e>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slice_df_v2 = sd_assigner(slice_df, sd)
<ipython-input-87-7ee6f29e115e>:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  slice_df_v2 = sd_assigner(slice_df, sd)

In [91]:
price_df_v2

,Unnamed: 0,ID,timestamps,date_time,price,market_caps,volumes,price_dif,%change,st_dev,>st_dev
1,1,ethereum,1640995200000,2022-01-01 00:00:00,3686.402542,4.397909e+11,1.429838e+10,-28.542914,-0.007683,0.028376,0
2,2,ethereum,1641081600000,2022-01-02 00:00:00,3780.315874,4.498047e+11,9.948121e+09,93.913332,0.025476,0.028376,0
3,3,ethereum,1641168000000,2022-01-03 00:00:00,3835.395991,4.568524e+11,1.006969e+10,55.080117,0.014570,0.028376,0
4,4,ethereum,1641254400000,2022-01-04 00:00:00,3769.404940,4.486096e+11,1.246287e+10,-65.991051,-0.017206,0.028376,0
5,5,ethereum,1641340800000,2022-01-05 00:00:00,3794.908130,4.545743e+11,1.385379e+10,25.503190,0.006766,0.028376,0
...,...,...,...,...,...,...,...,...,...,...,...
6088,330,cosmos,1669420800000,2022-11-26 00:00:00,10.033163,2.938227e+09,8.579356e+07,-0.144518,-0.014200,0.057695,0
6089,331,cosmos,1669507200000,2022-11-27 00:00:00,10.116833,2.957295e+09,1.023263e+08,0.083670,0.008339,0.057695,0
6090,332,cosmos,1669593600000,2022-11-28 00:00:00,9.950724,2.918006e+09,7.153157e+07,-0.166109,-0.016419,0.057695,0
6091,333,cosmos,1669680000000,2022-11-29 00:00:00,9.875552,2.891408e+09,1.118739e+08,-0.075172,-0.007554,0.057695,0
6092,334,cosmos,1669766400000,2022-11-30 00:00:00,10.200550,2.987200e+09,1.231150e+08,0.324998,0.032909,0.057695,0

In [92]:
price_df_v2.to_excel(r"C:\Users\Kutay\Desktop\My Docs\My Docs v2.0\Data Science\RA\Cryptocurrency\Project\Data\price_data_v2.xlsx")